#box2 {
    width: 150px;
    height: 150px;
    background: red;
}

#box3 {
    width: 150px;
    height: 150px;
    background: red;
}

#box4 {
    width: 150px;
    height: 150px;
    background: red;
}

#box5 {
    width: 150px;
    height: 150px;
    background: red;
}



